.meeting-info {
  display: grid;
  justify-items: center;
}

.meeting-title {
  padding-bottom: 10px;
}

.vote {
  display: grid;
  grid-template-columns: 1fr 1fr 5fr;
  align-items: center;
}


.participants {
  padding: 10px;
}

.votes {
  padding: 20px;

}
