<div *ngIf="loading; else meetingPresent">
  <mat-spinner></mat-spinner>
</div>
<ng-template #meetingPresent>
  <div *ngIf="meeting && loading == false">
    <mat-card class="meeting-info">
      <mat-card-title class="meeting-title"> Meeting ID: {{ meeting.id }} </mat-card-title>
      <mat-card-subtitle>
        <strong>Title: </strong>{{ meeting.title }}</mat-card-subtitle
      >
      <mat-card-subtitle>
        <strong>Duration: </strong>{{ meeting.duration }} hours</mat-card-subtitle
      >
      <mat-card-subtitle class="purple-text">
        <strong>Location: </strong>
        {{ meeting.location }}
      </mat-card-subtitle>
      <mat-card-subtitle class="purple-text">
        <strong>Description: </strong> {{ meeting.description }}
      </mat-card-subtitle>

      <mat-card-subtitle class="purple-text">
        <strong>Owner: </strong> {{ meeting.owner }}
      </mat-card-subtitle>


    </mat-card>
    <div class="participants">
    <mat-card-title style="padding: 5px; text-align: center">Participants:</mat-card-title>
    <mat-card *ngFor="let participant of participants" class="meeting-card">
      <mat-card-subtitle>
        <strong>User: </strong> {{ participant }}
      </mat-card-subtitle>
    </mat-card>
  </div>
    <div>
      <div class="votes">
        <div *ngFor="let vote of this.times" class="vote">
          <div>{{vote}} Votes: {{this.meeting.votes[vote].length}}</div>
          <button [disabled]="this.meeting.votes[vote].includes(this.email)" mat-raised-button (click)="placeVote(vote)">Vote</button>
          <div></div>
          <div>
            {{this.meeting.votes[vote].join(',')}}
          </div>
        </div>
      </div>


    </div>

  </div>
</ng-template>
