<div class="homepage-container">
  <div class="contents">
    <h1>Professional <br>
      scheduling <br>
      made easy</h1>
    <h2>Doodle is the fastest and easiest way to <br>
      schedule anything — from meetings to the next <br>
      great collaboration.</h2>
    <mat-form-field class="meetingId-form" appearance="fill">
      <mat-label>Meeting ID</mat-label>
      <input class="form-input" matInput placeholder="Enter your Meeting ID if you have one!">
    </mat-form-field>
    <button class="submit-button" mat-raised-button>
      Submit
      <mat-icon class="arrow">arrow_forward</mat-icon>
    </button>
  </div>
  <img class="image" src="assets/hero.png">
</div>
