<div class="sign-up-page-container">
  <div class="form-container">
    <h1>
      Nice to see you again
    </h1>
    <h2>
      Log in and get back to smooth scheduling
    </h2>
    <form class="registration-form">
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Enter valid email" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Enter your password" [formControl]="passwordFormControl" [errorStateMatcher]="matcher">
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <button  class="submit-button" mat-raised-button>
        Log in
      </button>
    </form>
  </div>
</div>
