<mat-toolbar>
  <a class="image-homepage-ref" href="">
    <img src="assets/logo.png"/>
  </a>
  <span class="flex-expand"></span>
  <a *ngIf="this.localStorageService.email" class="login-ref" href="" (click)="logOut()">Log out</a>
  <button *ngIf="!!this.localStorageService.email" class="doodles-button" mat-raised-button (click)="navigate('/doodles')">
    <mat-icon>menu</mat-icon>
    My Doodles
  </button>
  <a *ngIf="!this.localStorageService.email" class="login-ref" href="login">Log in</a>
  <button *ngIf="!this.localStorageService.email" class="sign-up-button" mat-raised-button (click)="navigate('/registration')">
    Sign up
  </button>
  <button *ngIf="!isCreateDoodleOpened" class="create-doodle-button" mat-stroked-button
          (click)="navigate('/new-doodle')">
    <mat-icon>
      add
    </mat-icon>
    Create a Doodle
  </button>
</mat-toolbar>


